<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <link rel="stylesheet" href="">  <!-- Add the path to your CSS file -->
</head>
<body>
    <div class="success-message">
        <h1>Success!</h1>
        <p>Your data has been saved successfully.</p>
        <a href="{% url 'account' %}">Go back to the form</a>
    </div>
</body>
</html>

<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.success-message {
    background-color: #fff;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

</style>
